@using DWShop.Web.Common.Models;
<div class="col-lg-1 col-lg-4 col-md-6">

    <div class="card" style="width: 18rem;">
        <img src="@product.PhotoURL" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Summary</p>
            <a href="/details/@product.Id" class="btn btn-primary">Detalles</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Product product { get; set; } = new();

}
